package br.gov.siscomex.portalunico.duimp_balanca_principal.api;

import br.gov.siscomex.portalunico.duimp_balanca_principal.model.BalancaDuimpSumarioCover;
import br.gov.siscomex.portalunico.duimp_balanca_principal.model.BalancaDuimpTotaisCover;
import br.gov.siscomex.portalunico.duimp_balanca_principal.model.RespostaApiErroBalanca;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.ApiParam;
import io.swagger.annotations.ApiResponse;
import io.swagger.annotations.ApiResponses;

import javax.validation.constraints.NotNull;
import javax.ws.rs.GET;
import javax.ws.rs.HeaderParam;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

/**
 * Declaração Única de Importação - Balança Comercial - Dados Gerais e Totalizadores
 *
 * <p>No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 */
@Path("/")
@Api(value = "/", description = "")
public interface DuimpTotalizadoresApi {

    /**
     * Recupera os dados do Sumário: Lista de Totalizadores agrupados por data.
     */
    @GET
    @Path("/totalizadores/sumarios")
    @Produces({"application/json"})
    @ApiOperation(value = "Recupera os dados do Sumário: Lista de Totalizadores agrupados por data.", notes = "", tags = {"Duimp - Totalizadores"})
    @ApiResponses(value = {
            @ApiResponse(code = 200, message = "Operação realizada com sucesso", response = BalancaDuimpSumarioCover.class, responseContainer = "List"),
            @ApiResponse(code = 401, message = "Usuário não autenticado ou autenticação inválida", response = RespostaApiErroBalanca.class),
            @ApiResponse(code = 403, message = "Usuário não tem permissão de acesso ao recurso", response = RespostaApiErroBalanca.class),
            @ApiResponse(code = 404, message = "Recurso não encontrado", response = RespostaApiErroBalanca.class),
            @ApiResponse(code = 422, message = "Erro(s) de validação da camada de negócio", response = RespostaApiErroBalanca.class),
            @ApiResponse(code = 500, message = "Erro interno no servidor", response = RespostaApiErroBalanca.class)})
    Response obterDadosSumarioUsingGET(@NotNull @ApiParam(value = "Data inicial de desembaraço a ser considerada no filtro de pesquisa. <br>Formato: 'AAAA-MM-DD'", required = true) @QueryParam("data-inicial") String dataInicial, @NotNull @ApiParam(value = "Data final de desembaraço a ser considerada no filtro de pesquisa. <br>Formato: 'AAAA-MM-DD'", required = true) @QueryParam("data-final") String dataFinal, @ApiParam(value = "JSON Web Token (JWT) contendo as informações do usuário.<br>Este token é recuperado no parâmetro Set-Token no response da autenticação", required = true) @HeaderParam("Authorization") String authorization, @ApiParam(value = "Token de prevenção contra ataques CSRF.<br>Este token é recuperado no parâmetro X-CSRF-Token no response da autenticação", required = true) @HeaderParam("X-CSRF-Token") String xCSRFToken);

    /**
     * Recupera os Totais Gerais: Recupera os totalizadores das Duimps seleciondas utilizando os mesmos parâmetros da Consulta dos Dados Gerais .
     */
    @GET
    @Path("/totalizadores/quantidades-totais")
    @Produces({"application/json"})
    @ApiOperation(value = "Recupera os Totais Gerais: Recupera os totalizadores das Duimps seleciondas utilizando os mesmos parâmetros da Consulta dos Dados Gerais .", notes = "", tags = {"Duimp - Totalizadores"})
    @ApiResponses(value = {
            @ApiResponse(code = 200, message = "Operação realizada com sucesso", response = BalancaDuimpTotaisCover.class),
            @ApiResponse(code = 401, message = "Usuário não autenticado ou autenticação inválida", response = RespostaApiErroBalanca.class),
            @ApiResponse(code = 403, message = "Usuário não tem permissão de acesso ao recurso", response = RespostaApiErroBalanca.class),
            @ApiResponse(code = 404, message = "Recurso não encontrado", response = RespostaApiErroBalanca.class),
            @ApiResponse(code = 422, message = "Erro(s) de validação da camada de negócio", response = RespostaApiErroBalanca.class),
            @ApiResponse(code = 500, message = "Erro interno no servidor", response = RespostaApiErroBalanca.class)})
    Response obterQuantidadesTotaisUsingGET(@NotNull @ApiParam(value = "Data inicial de desembaraço a ser considerada no filtro de pesquisa. <br>Formato: 'AAAA-MM-DD'", required = true) @QueryParam("data-inicial-desembaraco") String dataInicialDesembaraco, @NotNull @ApiParam(value = "Data final de desembaraço a ser considerada no filtro de pesquisa. <br>Formato: 'AAAA-MM-DD'", required = true) @QueryParam("data-final-desembaraco") String dataFinalDesembaraco, @NotNull @ApiParam(value = "Data inicial da última atualização a ser considerada no filtro de pesquisa. <br>Formato: 'AAAA-MM-DD'", required = true) @QueryParam("data-inicial-atualizacao") String dataInicialAtualizacao, @NotNull @ApiParam(value = "Data final da última atualização a ser considerada no filtro de pesquisa. <br>Formato: 'AAAA-MM-DD'", required = true) @QueryParam("data-final-atualizacao") String dataFinalAtualizacao, @ApiParam(value = "JSON Web Token (JWT) contendo as informações do usuário. <br>Este token é recuperado no parâmetro Set-Token no response da autenticação", required = true) @HeaderParam("Authorization") String authorization, @ApiParam(value = "Token de prevenção contra ataques CSRF.<br>Este token é recuperado no parâmetro X-CSRF-Token no response da autenticação", required = true) @HeaderParam("X-CSRF-Token") String xCSRFToken);
}

